@model EMS.NIEM.Sensor.DeviceDetails

@*This is the main view for displaying sensor device info*@

<table style="color:black; border-collapse: collapse; border: 1px solid black; width: 25%;">
  <tr>
    <th style="text-align: left" colspan="2">
      Device Details
    </th>
  </tr>

  @{
    Fresh.API.Areas.DE_HTML.Models.NameValue_ViewModel nameValue = new Fresh.API.Areas.DE_HTML.Models.NameValue_ViewModel();
  }


  @if (Model.ShouldSerializeManufacturerName())
  {
    nameValue.Name = "Manufacturer:";
    nameValue.Value = Model.ManufacturerName;

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeModelNumber())
  {
    nameValue.Name = "Model Number:";
    nameValue.Value = Model.ModelNumber;

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeSerialNumber())
  {
    nameValue.Name = "Serial Number:";
    nameValue.Value = Model.SerialNumber;

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeHardwareRevision())
  {
    nameValue.Name = "Hardware Version:";
    nameValue.Value = Model.HardwareRevision;

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeFirmwareRevision())
  {
    nameValue.Name = "Firmware Version:";
    nameValue.Value = Model.FirmwareRevision;

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }


  @if (Model.ShouldSerializeSoftwareRevision())
  {
    nameValue.Name = "Software Version:";
    nameValue.Value = Model.SoftwareRevision;

    @Html.Partial("SensorDetails_TableRow50", nameValue);
  }
</table>
